@import "tailwindcss";

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
